body {background-color:#4287f5 ; color:ffffff}

.tv{font-weight:bolder;color:maroon}
.tv2{font-weight:bolder;font-family:arial}

a:link{color:#ff42bd}
a:visited{color:#bd180f}
a:hover{color:#ebf531}

ul li{opacity:.75}
ol>li{color:#4a2a01}

.oof{font-weight:bold}

