body {background-color:#4287f5 ; color:ffffff}

.tv{font-weight:bolder;color:maroon}
.tv2{font-weight:bolder;font-family:arial}

a:link{color:#29ff49}
a:visited{color:#bd180f}
a:hover{color:#ebf531}

ul li{opacity:.75}
ol+li{color:red}
